<template name="splash">
	<div class="splashpage">
		<div class = 'splash'>


			<div class = "row" >
				<div id="splashWrapper">
					<div class="splash-header" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">

						<div class="container">
							<div class="col-xs-12" data-0="opacity: 1" data-180="opacity: 0">
								<h1>Concloud</h1>
								<a class="button" data-toggle="modal" href="#myModal">Sign In</a>
							</div><!--/End of Column-->
						</div><!--/End of Container-->
					</div>
					{{>splashNav}}
				</div>
				{{> signInModal}}
				<div class="splash-content" id="splash-content">
					<div class="container">
						<!--Featurette -->

						<div class="row featurette">
							<div class="col-sm-5 col-sm-push-7">
								<img class="featurette-image img-responsive" src="/img/concordLogo.jpg" alt="500x500">
							</div>
							<div class="col-sm-7 col-sm-pull-5">
								<h2 class="featurette-heading">Learn more about Concord. <span class="text-muted">See our corporate site.</span></h2>
								<p class="lead">To view more about Concord projects, you can visit the about page, or return to <a href="http://www.concordprojects.com/home.asp">our Corporate site</a> for more information.</p>
							</div>

						</div>

						<hr class="featurette-divider">
						<div class="row featurette">
							<div class="col-sm-5">
								<img class="featurette-image img-responsive" src="/img/cloud.png" alt="500x500">
							</div>
							<div class="col-sm-7">
								<h2 class="featurette-heading">Our Partners.<span class="text-muted">View your Projects anytime, anywhere</span></h2>
								<p class="lead">To view your project, use the information given to you by Concord on how to sign in. If you have not recieved that information yet, or have some additional questions for Concord, either click the contact button in the header to send a message to Concord, or email them from your own email!</p>
							</div>

						</div>

						<hr class="featurette-divider">

						<!--Featurette -->
						<div class="row featurette">
							<div class="col-sm-5 col-sm-push-7">
								<img class="featurette-image img-responsive" src="/img/featurette.png" alt="500x500">
							</div>
							<div class="col-sm-7 col-sm-pull-5">
								<h2 class="featurette-heading">Real-Time Information. <span class="text-muted">See for yourself.</span></h2>
								<p class="lead">Concloud relays all files to each user in real-time. As other users add their projects, folders, and files to the system, you can view them as they are inserted! Furthermore, all the files stored in the system are stored securily, only available to the users given access to those folders.</p>
							</div>
						</div>

						<hr class="featurette-divider">

					</div>
				</div>
			</div>
			{{checkLog}}

			{{> footer}}
		</template>