<template name = "updateContractModal">
	<div class="modal fade" id="updateContract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	  		<div class="modal-content">
	    		<div class="modal-header">
	      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      	    <h4 class="modal-title" id="myModalLabel">Update Contract</h4>
	    		</div>
	    		<div class="modal-body">
	      			<div class="control-group">
	      				<div class = "row">
		      				<div class="label-area col-xs-6">
			                	<label id="update-title-label">Contract Title: </label> 
		                		<textarea id="update-title" class="modal-text"></textarea> 
		            		</div>
	            		</div>
	            		<br>
	            		<div class = "row">
			            	<div class="label-area col-xs-12">
			                	<label id="update-description-label">Description: </label> 
		                		<textarea id="update-description" class="modal-text"></textarea> 
		            		</div>
		            	</div>
		            	</br>
        			</div>

	    		</div>
	    		<div class="modal-footer">
		      		<button id="update-contract" class="btn btn-success submitModal" data-dismiss="modal">Update Contract</button>
	      			<button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
	    		</div>
	  		</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>