.dropdown-header {
	color: #393939;
	background-color: #f5f5f5 !important;
	font-weight:normal!important;
	border-bottom:0px!important;
}

#notification-drop .no-hover:hover {
	background-color: #f5f5f5 !important;
}

#notification-drop {
	width: 300px;
}

#readAll{
	margin-top: 4%;
	color: #87b87f;
}

#readAll:hover{
	color: #629b58;
	cursor: pointer;
}

#clickedNotification {
	cursor:pointer;
	font-size:12px;
}

.dropdown-header i{
	color:black;
}