<template name="projectPage">
  {{> breadcrumbs}}

  <div class = "projectData col-xs-12">
    <div class="row no-margins">
      <h3 class="alignLeft" id="projectBreadcrumbs"><span class="headerLink" id="header-base">{{title}}</span></h3>
      {{> errors}}
      <div id="browse-sort" class="clearfix">
	<a id="name-sorter" data-sort="FILES_BY_NAME" class="sortable-column-header bolded col-xs-6" data-ascending="true" style="cursor: pointer;">
	  <span style="cursor: pointer;">
	    Name
	  </span>
	</a>
	<a id="kind-sorter" data-sort="FILES_BY_KIND" class="sortable-column-header noarrow col-xs-2" data-ascending="false" style="cursor: pointer;">
	  <span id="kind-sorter-label" style="cursor: pointer;">
	    Kind
	  </span>
	</a>
	<a id="modified-sorter" data-sort="FILES_BY_MODIFIED" class="sortable-column-header col-xs-4" data-ascending="false" style="cursor: pointer;">
	  <span style="cursor: pointer;">
	    Modified
	  </span>
	</a>
      </div>
       {{#if uploadingData}}
			{{>spinner}}
		{{/if}}
      <!--File and Folder Buttons -->
	
      <div class="projectHeader">
    {{#if officeManager}}
		<div class="concord-button" id="uploadItem"><i class="fa fa-upload"></i> Upload</div> 
	{{/if}}
	<div class="concord-button" id='downloadItems'><i class="fa fa-download"></i> Download</div>
	{{#if officeManager}}
		<div class="concord-button" id="add-folder"><i class="fa fa-folder"></i> Add Folder</div>
	{{/if}}
	<div class="concord-button" id="selectAllItems"><i class="fa fa-check-circle-o"></i> Select All</div>
	{{#if officeManager}}
		<div class="concord-button" id="deleteItem"><i class="fa fa-times"></i> Delete</div>
	{{/if}}
      </div>
      {{> addFolderModal}}
      {{> uploadModal}}

      <!-- Folders and Files -->
      
      <ol id="browse-files" class="mouse-active" style="cursor: default;">
	<!-- Individual Folders -->
	<div id="projectFolders">
	{{#each arrayify projectData}}
		{{#if allowedView}}
            {{> project_folder}}
        {{/if}}
	{{/each}}
	</div>
	

	<!-- Project Files -->
	<div id="projectFiles">
		{{#each arrayify projectFiles}}
		    {{> project_files}}
		{{/each}}
	</div>


      </ol>


      

    </div>
  </div>

</template>
