.projectHeader {
	background-color:#FFF;
	min-height: 50px;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
}

.widget-box {
	margin-top:20px!important;
	cursor:pointer;
}

.fileUpload{
	text-align:left;
}

.download-fileimage-link{
	cursor:default!important;
}

.center{
	text-align: center;
}

.projectCheckbox {
	float:left;
	margin:9px!important;
}

.float-left{
	float:left;
}

#selectAll{
	margin-left:22px;
	float:left;
	margin-top:8px;
}

.deleteItems {
	float:right;
	margin-top:10px;
}

.alignLeft {
    text-align:left;
}

.folderName {
    width:100%;
}

.fileInput {
	padding-left:0px;
}

.fileFolderTabs{
	margin-bottom: 20px!important ;
	border-top:none;
}

#upload{
	margin-bottom:20px;
}

.filename-link{
	cursor: pointer;
}

.projectButtons{
	text-align: right;
}

.createCircle{
	border: 1px solid transparent;
	border-radius: 50px;
	padding:6px;
	color:white;
	 -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.greenCircle{
	background-color: #87b87f;
}

.blueCircle{
	background-color: #6fb3e0;
}

.blackCircle{
	background-color: #555;
}

.greenCircle:hover{
	background-color: #629b58;
}

.blueCircle:hover{
	background-color: #4f99c6!important;
	border-color: #6fb3e0;
}

.blackCircle:hover{
	background-color: #303030!important;
	border-color: #555;
}

.redCircle{
	background-color: #d15b47;
	padding-left:7px;
	padding-right:7px;
}

.redCircle:hover{
	background-color: #b74635;
}

.projectButtons{
	cursor:pointer;
	margin-top:20px;
}

.alignLeft{
	text-align:left;
}


.dataInput {
	margin-left:15px;
	margin-right:15px;
	margin-bottom:10px;
}

.uploadButton{
	text-align: right;
	margin-right:15px;
}

.uploadDropdown{
	left:-200px;
	width:300px;
}

.folderDropdown{
	left:-250px;
	width:300px;
}

.submitPopover{
	padding: 3px 0px 0px 2px;
}

.textPopover{
	width:75%;
	margin-bottom:10px;
	height: 33px;
}

#upload-file{
	margin-bottom:20px;
}

 .form-group hr{
	margin-bottom:10px;
}


