.projectHeader {
	background-color:#FFF;
	min-height: 50px;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
}

.fileUpload{
	text-align:center;
}

.center{
	text-align: center;
}

.projectCheckbox {
	float:left;
	margin:9px!important;
}

.float-left{
	float:left;
}

.alignLeft {
    text-align:left;
}

.folderName {
    width:100%;
}

.folderLabel {
    font-weight:bold!important;
}