<template name="projectsList">

	<!-- Bread Crumbs -->

	{{> breadcrumbs}}


<!-- Project Data -->
<div class = "projects">
	<div class = "page-content">
		<div class="page-header">
			<h1>Projects<small><i class="fa fa-angle-double-right"></i>Folders and Files</small></h1>
		</div>
		<div class = "search-buffer">
			<div id="emp-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="Search ..." class="nav-search-input" id="search-field" autocomplete="off">
						<i class="fa fa-search icon-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- #nav-search -->
		</div>
		<div class="row">
			<div class = "projects col-xs-12">
				
						{{#each projectsWithRank}}
							{{> projectItem}}
						{{/each}}

					
			</div>
		</div>
	</div>
</div>

{{> passwordModal}}
</template>