<template name="projectPage">
	{{> breadcrumbs}}

	<div class = "projectData col-xs-12">
		<div class="row no-margins">
			{{> errors}}
			<div class="row">
				<h3 class="alignLeft col-xs-6" id="projectBreadcrumbs"><span class="headerLink" id="header-base">{{title}}</span></h3>


				
			</div>

			<div id="browse-sort" class="clearfix">
				 <input type="checkbox" class="selectAllCheckbox" id="selectAll">
					<span class="col-xs-5">
						Name
					</span>
					<span id="kind-sorter-label" class="col-xs-2">
						Kind
					</span>

					<span class ="col-xs-4">
						Modified
					</span>
			</div>


			<!-- Folders and Files -->

			<ol id="browse-files" class="mouse-active" style="cursor: default;">
				<!-- Individual Folders -->
				
				<div id="projectFolders">
				
					{{#each projectData}}
						{{#if allowedView}}
							{{> project_folder}}
						{{/if}}
					{{/each}}

				</div>


				<!-- Project Files -->
				<div id="projectFiles">
					{{#each projectFiles}}
					{{> project_files}}
					{{/each}}
				</div>


			</ol>




		</div>
	</div>

</template>
