<template name="projectPage">
  {{> breadcrumbs}}

  <div class = "projectData col-xs-12">
    <div class="row no-margins">
      <h3>{{title}}</h3>
      <div id="browse-sort" class="clearfix">
	<a id="name-sorter" data-sort="FILES_BY_NAME" class="sortable-column-header bolded col-xs-6" data-ascending="true" style="cursor: pointer;">
	  <span style="cursor: pointer;">
	    Name
	  </span>
	</a>
	<a id="kind-sorter" data-sort="FILES_BY_KIND" class="sortable-column-header noarrow col-xs-3" data-ascending="false" style="cursor: pointer;">
	  <span id="kind-sorter-label" style="cursor: pointer;">
	    Kind
	  </span>
	</a>
	<a id="modified-sorter" data-sort="FILES_BY_MODIFIED" class="sortable-column-header col-xs-3" data-ascending="false" style="cursor: pointer;">
	  <span style="cursor: pointer;">
	    Modified
	  </span>
	</a>
      </div>

      <!--File and Folder Buttons -->
      <div class="projectHeader">
	<div class="btn btn-success" id="upload"  data-toggle="modal" data-target="#uploadData"><i class="fa fa-upload"></i> Upload</div> 
	<div class="btn btn-primary"><i class="fa fa-download"></i> Download</div>
	<div class="btn"><i class="fa fa-folder"></i> Add Folder</div>
	<div class="btn btn-warning"><i class="fa fa-check-circle-o"></i> Select All</div>
	<div class="btn btn-danger"><i class="fa fa-times"></i> Delete</div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="uploadData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      <h4 class="modal-title" id="myModalLabel">Upload</h4>
	    </div>
	    <div class="modal-body fileUpload">
	      <input type="file" class="center" id="upload" name="upload"/>
	      
	    </div>
	    <div class="modal-footer">
	      <button id="smartfile" class="btn btn-success" data-dismiss="modal">Submit</button>
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



      <!-- Folders and Files -->

      <ol id="browse-files" class="mouse-active" style="cursor: default;">
	<!-- Individual Folders -->
	{{#each arrayify projectData}}
            {{> project_folder}}
	{{/each}}
	
	<!-- Project Files -->
	{{#each arrayify projectFiles}}
	    {{> project_files}}
	{{/each}}

      </ol>
      

    </div>
  </div>

</template>