<template name="footer">
	<!-- FOOTER -->

	<!--Footer-->

	<footer id="footer">
		<div class="row info">
			<div class="col-sm-6 residence">
				<ul>
					<li>200 – 1277 Henderson Highway </li>
					<li>Winnipeg, MB, R2G 1M3 </li>
				</ul>
			</div>

			<div class="col-sm-5">
				<ul>
					<li><strong>P  </strong>(204) 339-1651</li>
					<li><strong>E  </strong>info@concordprojects.com</li>
					<li><strong>F  </strong>(204) 339-0146</li>
				</ul>
			</div>
		</div>
</footer>


<!-- Bottom -->
<div id="bottom">
	<!-- wrapper-bottom -->
	<div class="wrapper">
		<div class="main">
			<div id="bottom-text">&copy;2014 Concord All Rights Reserved.</div>
			<!-- Social -->
			<ul class="social_end">

				<li><a href="http://www.twitter.com" class="poshytip twitter" title="Follow our tweets"></a></li>



				<li><a href="http://www.youtube.com" class="poshytip youtube" title="View our videos"></a></li>
			</ul>
			<!-- ENDS Social -->
			<div id="to-top" class="poshytip" title="To top"></div>
		</div>
	</div>
	<!-- ENDS wrapper-bottom -->
</div>
<!-- ENDS Bottom -->
</template>