<template name="faq">
	<div class="faqPage">
		
		{{> staticHeader}}
		<!-- Below is the header control including text -->

		<div class="fullHeader">
			<div class="container">


				<div class="header">
					<h2>
						<small>Start sharing today,</small>
						Request Concloud
					</h2>
				</div>


			</div>
        
		</div>

		<div class="section plans-content overlap">
			<div class="container">
				<div class="plans-container">
					<div class="row">
						<!-- Header ends here -->

						<div id="aboutus">

							<div class="container">

								<!-- Header -->

								<!-- Below is the form/About layout -->
								
								<div class ="starting">
									<h3>How do I start Using Concloud</h3>			
								</div>		
								<!-- Above here  ^^ controls the background grey/white borders and margins -->

								<!--About Us Content -->
								<div class="row">
									<div class="col-sm-6 intro">
										<h6>
											This will be a header about how easy it is to start using Concloud.
										</h6>

										<p>
											Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
											<br>
											<br>
											Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
										</p>
									</div>	

									<!-- Intro Video -->
									<div class="col-sm-6" style="color:black">
										Embed an intro video here
									</div>
								</div>	
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="section secondary-content faq-header">

			<div class="container">
				
				<div class = "row">	
					<div class="col-xs-12">
						<h3 class="text-centered">
							Questions and Answers
						</h3>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<p class="faq-text">
							<strong>Lorem ipsum dolor sit amet?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>

							<p class="faq-text">
							<strong>Lorem ipsum dolor sit amet?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>

							<p class="faq-text">
							<strong>Lorem ipsum dolor sit amet?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>

					<div class="col-md-6">
						<p class="faq-text">
							<strong>Lorem ipsum dolor sit amet?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>

							<p class="faq-text">
							<strong>Lorem ipsum dolor sit amet?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>

							<p class="faq-text">
							<strong>Lorem ipsum dolor sit amet?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>

				</div>
			
				
			</div>

		</div>

		{{> footer}}
	</div>
</template>