<template name="about">
	<div class="aboutPage">
		{{> staticHeader}}

		<!-- This is the background of the header before the contact form -->
		<div class="fullHeader">
			<div class="container">


				<div class="header">
					<h2>
						<small>Your Total Construction Solution: </small>
						Concord Projects Ltd.
					</h2>
				</div>


			</div>

		</div>

		


		<div class="section plans-content overlap">
			<div class="container">
				<div class="plans-container">
					<div class="row">
						<!-- Header ends here -->

						<div id="aboutus">

							

								<!-- Header -->

								<!-- Below is the form/About layout -->
								
								<div class ="starting">
									<h3>Who is Concord?</h3>			
								</div>		
								<!-- Above here  ^^ controls the background grey/white borders and margins -->

								<!--About Us Content -->
								<div class="row">
									<div class="col-sm-6 intro">
										<h6>
											The Company
										</h6>

										<p>
											Concord Projects Ltd. is a respected contractor with expertise in all areas of general contracting, construction management, project coordination and engineering. Our goal is “to fully service our clients´ needs by providing top quality buildings and developments in the most cost effective manner.” Concord Projects has been in operation since 1978, working in Winnipeg, rural Manitoba, North-Western Ontario as well as Saskatchewan and Alberta.

											We have gained extensive experience in high-tech pharmaceutical, industrial, manufacturing, commercial, and retail facilities, as well as, churches, community arenas, and apartment–condominium projects. This encompasses new facilities, building additions, retrofits, and tenant improvements.



										</p>
									</div>	

									<!-- FlexSlider -->
									<div class="col-sm-6">
										<div class="flexslider">
											<ul class ="slides">
												<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/concordLogo.jpg" alt=""></li>

												<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/YFC.jpg" alt=""></li>

												<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/RTDS.jpg" alt=""></li>

												<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/peacetower.jpg" alt=""></li>

												<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/Kelleher.jpg" alt=""></li>

												<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/Gerry.jpg" alt=""></li>
											</ul>

										</div>
									</div>
								</div>	
							
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="contained featurette">
							<!--Process Section -->
							<div id="process">
								<div class="container">
									<div class="section_header">
										<h3>Conclouds Process</h3>
									</div>

									<div class="row services_circles">
										<div class="col-sm-4 description">
											<div class="text active">
												<h4>Create the Project</h4>
												<p>Create and store your project a Concord project in our system safely and securly.Concloud allows office managers to simply construct the project they need, and forget about the intricacies of the system.</p>
											</div>

											<div class="text">
												<h4>Develop Your Project</h4>
												<p>Choose which users are allowed to see the Project or folders all within a simple checkbox system. Keep your private information private!</p>
											</div>

											<div class="text active">
												<h4>Share the Project</h4>
												<p>Allow the entire team to access their crutial files in real time. Having your team in sync is the first step to success!<</p>
											</div>
										</div>

										<div class="col-sm-7 areas">
											<div class="circle active" id="first_circle">
												<img src="img/plan.png">
												<span>Plan</span>
											</div>
											<div class="circle">
												<img src="img/design.png">
												<span>Develop</span>
											</div>
											<div class="circle last_circle">
												<img src="img/develop.png">
												<span>Share</span>
											</div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About Us Section -->
		


	



		{{> footer}}
	</div>

	


</template>