<template name="about">
	<div class="aboutPage">
		{{> staticHeader}}

		<!-- This is the background of the header before the contact form -->
		<div class="fullHeader">
			<div class="container">


				<div class="header">
					<h2>
						<small>Your Total Construction Solution: </small>
						Concord Projects Ltd.
					</h2>
				</div>


			</div>

		</div>

		


		<div class="section plans-content overlap">
			<div class="container">
				<div class="plans-container">
					<div class="row">
						<!-- Header ends here -->

						<div id="aboutus">

							

								<!-- Header -->

								<!-- Below is the form/About layout -->
								
								<div class ="starting">
									<h3>Who is Concord?</h3>			
								</div>		
								<!-- Above here  ^^ controls the background grey/white borders and margins -->

								<!--About Us Content -->
								<div class="row">
									<div class="col-sm-6 intro">
										<h6>
											This will be a header about who Concord is as a company.
										</h6>

										<p>
											Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
											<br>
											<br>
											Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
										</p>
									</div>	

									<!-- FlexSlider -->
									<div class="col-sm-6">
										<div class="flexslider">
											<ul class ="slides">
												<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/cloud.png" alt=""></li>

												<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/featurette.png" alt=""></li>

												<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/features-ico1.png" alt=""></li>
											</ul>

										</div>
									</div>
								</div>	
							
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="contained featurette">
							<!--Process Section -->
							<div id="process">
								<div class="container">
									<div class="section_header">
										<h3>Conclouds Process</h3>
									</div>

									<div class="row services_circles">
										<div class="col-sm-4 description">
											<div class="text active">
												<h4>Plan the Project you Need</h4>
												<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
											</div>

											<div class="text">
												<h4>Develop Your Documents</h4>
												<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
											</div>

											<div class="text active">
												<h4>Share with your Team</h4>
												<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
											</div>
										</div>

										<div class="col-sm-7 areas">
											<div class="circle active" id="first_circle">
												<img src="img/plan.png">
												<span>Plan</span>
											</div>
											<div class="circle">
												<img src="img/design.png">
												<span>Develop</span>
											</div>
											<div class="circle last_circle">
												<img src="img/develop.png">
												<span>Share</span>
											</div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About Us Section -->
		


		<!-- Team Section -->
		<div id="team">
			<div class="container">
				<div class="section_header">
					<h3>Meet our Team</h3>
				</div>
				<div class="row people">
					<div class="row row1">
						<div class="col-sm-6 bio_box">
							<img class="img-circle" src="img/ale.png">
							<div class="info">
								<p class="name">Main Memeber</p>
								<p class="area">Founder</p>
							</div>
						</div>
						<div class="col-sm-6 bio_box bio_boxr">
							<img class="img-circle" src="img/ale.png">
							<div class="info">
								<p class="name">Additional Member</p>
								<p class="area">Secretary</p>
							</div>
						</div>

					</div>

					<div class="row row1">
						<div class="col-sm-6 bio_box">
							<img class="img-circle" src="img/ale.png">
							<div class="info">
								<p class="name">Additional Member</p>
								<p class="area">Director</p>
							</div>
						</div>
						<div class="col-sm-6 bio_box bio_boxr">
							<img class="img-circle" src="img/ale.png">
							<div class="info">
								<p class="name">Additional Member</p>
								<p class="area">Consultant</p>
							</div>
						</div>

					</div>
				</div>
			</div>
			
		</div>




		{{> footer}}
	</div>

	


</template>