<template name="forgot">
	{{> staticHeader}}
	<div class="container">
    <div class="row signform">
      
      <div class="entry col-md-4 col-md-offset-4">
        
        <!--empty-->
        
          <div class="email-option">
            <h3>Reset Password?</h3>
          </div>
        
        
          <form class="entry-form" id="signIn">
          	<div class="row">
							<label id="incorrect-email-label" class = "col-xs-12 incorrect-text"></label>
						</div>
            <div class="form-group">
              <input autofocus="" name="email" type="email" id="find-email" class="form-control" value="" placeholder="Email">
            </div>
            <p><a href="{{pathFor 'signin'}}">Sign In?</a></p>
            <button type="button" class="submit btn btn-block btn-default" id="forgot-btn">Reset Password</button>
          </form>
      </div>
    </div>
  </div>
	{{> footer}}
</template>