<template name = "accountManagement">
	{{> breadcrumbs}}
	<div class = "container accountManagement">
		<div id = "edit-password">
			<input type="password" class="col-sm-3 signUpInput" name="password" id="old-password" placeholder="Current Password">

			<input type="password" class="col-sm-3 signUpInput" name="password" id="sign-password" placeholder="New Password">
			
			<input type="password" class="col-sm-3 signUpInput" name="confirm-password" id="sign-confirm-password" placeholder="Confirm New Password">

			<button class="btn btn-sm col-sm-2 btn-danger" id="update-password" >Update Password</button>
		</div>
		<br>
	</div>




</template>		