body.modal-open {
	margin-right:0px;
}

.modal {
	overflow-y: auto;
}

body.modal-open .modal-open {
    margin-right :0px;
}

#incorrect-log-label, #incorrect-email-label {
	color: red;
	text-align: center;
}

.submitUnderText{
	text-align: center;
	margin: auto;
}

.submitUnderText:hover{
	cursor: pointer;
}