<template name="signInModal">
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<!-- Log In Dialog -->
		<div class="modal-dialog active logInModal">
			<div class="modal-content">
				<div class="modal-header login-header">
					<button type="button" class="close close-me" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Login to Concloud</h4>
				</div>
				<div class="modal-body">
					<form method="post" id = "login_form" action='' name="login_form">
						<div class="row">
							<p><input type="text" class="col-xs-10 onSub" name="eid" id="email" placeholder="Email"></p>
						</div>
						<div class="row passwordLine">
							<p><input type="password" class="col-xs-10 onSub" name="passwd" id="passwd" placeholder="Password"></p>
						</div>
						<div class="row">
							<label id="incorrect-log-label" class = "col-xs-12"></label>
						</div>
						<hr>
						<div class="row submitSignIn">

							<button type="button" class="btn btn-primary signInButton submitModal" id="logButton" aria-hidden="true">Sign in</button>
						</div>
						<div class="row forgotPassword">
							<a href="#" class="submitUnderText newPass">Forgot Password?</a>    
						</div>

					</form>

				</div>
			</div><!-- /.modal-content -->
		</div><!-- /. Log-In modal-dialog -->

		<!--Forgot Password Modal -->
		<div class="modal-dialog newPassModal">
			<div class="modal-content">
				<div class="modal-header login-header">
					<button type="button" class="close close-me" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Forgot Password</h4>
				</div>
				<div class="modal-body">
					<form method="post" id = "login_form" action='' name="login_form">
						<div class = "row">
							<label>Please Enter Your Email Address.  An email will be sent to you shortly, follow the steps given in it.</label>
						</div>
						<div class="row emailLine">
							<p><input type="text" class="col-xs-10 onSub" id="find-email" placeholder="Enter Email"></p>
						</div>
						<div class="row">
							<label id="incorrect-email-label" class = "col-xs-12"></label>
						</div>
						<hr>
						<div class="row submitSignIn">
							<button type="button" class="btn btn-primary signInButton " id="forgot-btn" aria-hidden="true">Reset</button>
						</div>
						<div class="row fogotPassword">
							<a class=" col-xs-12 returnLogin submitUnderText">Return to Login.</a>    
						</div>
					</form>
				</div>
			</div><!-- /.modal-content -->
		</div><!--End of Password Modal -->
	</div><!-- /.modal -->
</template>