<template name = "userCreate">
 <form class="main">
        <div class="control-group form-group">
            <label class="control-label modalLabel" for="first-name">First Name</label>
            <div class="controls">
                <input id="first-name" type="text" value="" placeholder="First Name"/>
            </div>
        </div>

        <div class="control-group form-group">
            <label class="control-label modalLabel" for="last-name">Last Name</label>
            <div class="controls">
                <input id="last-name" type="text" value="" placeholder="Last Name"/>
            </div>
        </div>

        <div class="control-group form-group">
            <label class="control-label modalLabel" for="email">Email</label>
            <div class="controls">
                <input id="email" type="text" value="" placeholder="Email Address"/>
            </div>
        </div>

        <div class="control-group from-group">
            <label class="control-label modalLabel" for="user-group">User Group</label>
            <div class = "controls">
                <select name="user-group" id ="user-group">
                    <option value="Employee">Employee</option>
                    <option value="Client">Client</option>
                    <option value="Admin">Office Manager</option>
                    <option value="Sub-Trade">Sub-Trade</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template>