<template name = "userItem">
<tr id="row-{{_id}}">
		<td class="center">
			<label>
				<input type="checkbox" class="ace tableBox" id="tableBox-{{_id}}">
				<span class="lbl"></span>
			</label>
		</td>
		<td class="String">{{profile.lastName}}</td>
		<td class="String">{{profile.firstName}}</td>
		<td class="Selection">{{profile.userGroup}}</td>
		<td class="">{{profile.email}}</td>
		<td class="hidden-xs">{{convertedTime}}</td>	

		<td>
			<div class="btn-group">
				<button class="btn btn-xs btn-success confirmProject" title="Confirm User Changes" disabled="true" id="confirmbutton-{{_id}}">
					<i class="fa fa-check bigger-120" id="i-{{_id}}"></i>
				</button>
				<button class="btn btn-xs btn-info editProject" title="Edit Users" id="editbutton-{{_id}}">
					<i class="fa fa-pencil bigger-120" id="i-{{_id}}"></i>
				</button>
				<button class="btn btn-xs btn-danger deleteProject" id="deletebutton-{{_id}}" title="Delete Users">
					<i class="fa fa-trash-o bigger-120" id="i-{{_id}}"></i>
				</button>

			</div>

		</td>
	</tr>
</template>