<template name = "userList">
	{{> breadcrumbs}}

	<div class = "users">
		<div class = "page-content">
			<div class="page-header">
				<h1>Manage Employees<small><i class="fa fa-angle-double-right"></i>Administration</small></h1>
			</div>
			<div class ="above-content">
				<a class="btn btn-primary emp-btn userBtn" href="{{pathFor 'projectsAdminList'}}">
					<i class="fa fa-folder-open-o"></i> Manage Projects
				</a>
				<a class="btn btn-success emp-btn conBtn" data-toggle="modal" data-target="#HRField">
					<i class="fa fa-tags"></i>  Manage HR Fields
				</a>
				<a class="btn btn-default emp-btn userBtn" data-toggle="modal" data-target="#createData">
					<i class="fa fa-pencil-square-o"></i> Create New User
				</a>
				<a class="btn btn-warning emp-btn userBtn" id="hrbtn">
					<i class="fa fa-flag-o"></i> Manage Human Resource
				</a>
				<a class="btn btn-danger userBtn" id="delbtn">
					<i class="fa fa-times"></i> Delete User
				</a>
			</div>
			<div class = "search-buffer">
				<div id="emp-search">
					<form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="search-field" autocomplete="off">
							<i class="fa fa-search icon-search nav-search-icon"></i>
						</span>
					</form>
				</div><!-- #nav-search -->
			</div>
			<div class="row">
				<div class = "projects col-xs-12">
					
							{{#each users}}
								{{>userItem}}
							{{/each}}
						
				</div>
			</div>
		</div>
	</div>
				   
	{{> updateUserModal}}

	{{> updateHRModal}}

	{{> createNewUserModal}}

	{{> createHRFieldModal}}


</template>