#user-group {
	height:auto;
	margin-left:-15px;
}

.last-worked {
	margin-top:20px;
}

.groupSelect {
	width:100%;
}

.pushSelectLeft {
	margin-left:0px!important;
}

.button-headers{
	margin-bottom:20px!important;
}

.concord-button {
	background-color: rgb(119,79,80);
	display: inline-block;
	border: 5px solid rgb(119,79,80);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 0px;
	transition: all 0.15s ease;
	-webkit-transition: all 0.15s ease;
	cursor: pointer;
	vertical-align: middle;
	margin: 0px;
	position: relative;
	color: rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	background-image: none;
	box-shadow: none;
	padding: 6px 12px;
	font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
text-decoration: none;
}

.concord-button:hover{
	border-color: rgb(119,79,80);
	background-color: rgb(99, 50, 33);
	text-decoration: none;
	color:white;
}