<template name="changepassword">
	{{> breadcrumbs}}
	<div class="row container">
		<div class="col-xs-12 col-sm-12 changePassword center">

			<h2>Change Password</h2>
			<div class="row passwordError">
				<div class="col-xs-offset-3 col-xs-6 alert alert-danger">
					<label id="incorrect-label"></label>
				</div>
			</div>
			<div class = "row">
				<div class="label-area col-xs-12">
					<div class="form-group">
						<div class="row">
							<label id="old-password-label" class="modalLabel">Old Password </label>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<input type="password" id="old-password" class="modal-text col-xs-12" placeholder="Current Password">

							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class = "row">
				<div class="label-area col-xs-12">
					<div class="form-group">
						<div class="row">
							<label id="sign-password-label" class="modalLabel">New Password </label> 
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<input type="password" id="sign-password" class="col-xs-12 modal-text" placeholder="New Password">
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<label id="not-match-label"></label>
				</div>
			</div>
		<div class = "row">
			<div class="label-area col-xs-12">
				<div class="form-group">
					<div class="row">
						<label id="sign-confirm-password-label" class="modalLabel">Confirm Password </label>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<input type="password" id="sign-confirm-password" class= "col-xs-12 modal-text" placeholder="Confirm New Password">
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<button id="update-password" class="btn btn-success submitModal">Update Password</button>
	</div>
</div>
</template>