<template name="contractsAdminList">

	<!-- Bread Crumbs -->

	{{> breadcrumbs}}


<!-- Contract Data -->
<div class = "contracts">
	<div class = "page-content">
		<div class="page-header">
			<h1>Manage Contracts<small><i class="fa fa-angle-double-right"></i>Administration</small></h1>
		</div>
			<div class ="above-content">
				<a class="btn btn-primary emp-btn userBtn" href="{{pathFor 'userList'}}">
					<i class="fa fa-user"></i>  Manage Users
				</a>
				<a class="btn btn-success emp-btn conBtn" href="{{pathFor 'projectsAdminList'}}">
					<i class="fa fa-tags"></i>  Manage Projects
				</a>
				<a class="btn btn-default emp-btn userBtn" data-toggle="modal" data-target="#createContract">
					<i class="fa fa-pencil-square-o"></i> Create New Contract
				</a>
				<a class="btn btn-warning emp-btn userBtn" id = "upgradeBtn">
					<i class="fa fa-flag-o"></i> Upgrade to Project
				</a>
				<a class="btn btn-danger userBtn" id="delbtn">
					<i class="fa fa-times"></i> Delete Contract
				</a>
			</div>
		<div class = "search-buffer">
			<div id="emp-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="Search ..." class="nav-search-input" id="search-field" autocomplete="off">
						<i class="fa fa-search icon-search nav-search-icon"></i>

					</span>
				</form>
			</div><!-- #nav-search -->
		</div>
		<div class="row">
			<div class = "contracts col-xs-12">
				
						{{#each contracts}}
							{{> contractAdminItem}}
						{{/each}}

					
			</div>
		</div>
	</div>
</div>
	
	{{> updateContractModal}}
	{{> createContractModal}}


</template>