<template name="menu">
	<!-- User must be logged in to see this -->
	{{#if currentUser}}

	<a class="menu-toggler" id="menu-toggler" href="#">
		<span class="menu-text"></span>
	</a>

	<div class="sidebar" id="sidebar">
		<img src="/img/logo.jpg" class="concord-logo">


		<ul class="nav nav-list">
			<li class="active">
				<a href="{{pathFor 'dashboard'}}">
					<i class="fa fa-dashboard"></i>
					<span class="menu-text"> Dashboard </span>
				</a>
			</li>

			<li>
				<a href="{{pathFor 'projectsList'}}">
					<i class="fa fa-folder"></i>
					<span class="menu-text"> Projects </span>
				</a>

			</li>

			{{#if admin}}
			<li>
				<a href="#" class="dropdown-toggle">
					<i class="fa fa-pencil-square-o"></i>
					<span class="menu-text"> Project Administration </span>
					<b class="arrow fa fa-chevron-down"></b>
					</a>
					<ul class="submenu">
								<li>
									<a href="elements.html">
										<i class="icon-double-angle-right"></i>
										Create New Project
									</a>
								</li>

								<li>
									<a href="{{pathFor 'projectsAdminList'}}">
										<i class="icon-double-angle-right"></i>
										Manage Projects
									</a>
								</li>
							</ul>
				
			</li>
			<li>
				<a href="#" class="dropdown-toggle">
					<i class="fa fa-gavel"></i>
					<span class="menu-text"> User Administration </span>
					<b class="arrow fa fa-chevron-down"></b>
					</a>
					<ul class="submenu">
								<li>
									<a href="{{pathFor 'userList'}}">
										<i class="icon-double-angle-right"></i>
										Manage Users
									</a>
								</li>

								<li>
									<a href="{{pathFor 'manageHR'}}">
										<i class="icon-double-angle-right"></i>
										Manage H.R.
									</a>
								</li>
								<li>
									<a href="{{pathFor 'editHR'}}">
										<i class="icon-double-angle-right"></i>
										Edit HR Fields
									</a>
								</li>
							</ul>
				
			</li>
			{{/if}}
			</ul>

	</div>
	{{/if}}

</template>