<template name="menu">
	<!-- User must be logged in to see this -->
	{{#if currentUser}}

	<a class="menu-toggler" id="menu-toggler" href="#">
		<span class="menu-text"></span>
	</a>

	<div class="sidebar" id="sidebar">
		<img src="/img/logo.jpg" class="concord-logo">
		<div class="sidebar-shortcuts" id="sidebar-shortcuts">
			<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">

				{{#if projectListOk}}
				<a class="btn btn-success sideBtn" href="{{pathFor 'projectsList'}}" id="projbtn" title="Projects" rel="tooltip">
					<i class="fa fa-folder-open"></i>
				</a>
				{{/if}}

				{{#if subTradeOk}}
				<button class="btn btn-warning sideBtn" title="Sub-Trades" rel="tooltip" id="subbtn">
					<i class="fa fa-group"></i>
				</button>
				{{/if}}

				<a class="btn btn-danger sideBtn" id="accountBtn" title="Change Password" rel="tooltip">
					<i class="fa fa-cogs"></i>
				</a>
			</div>

			<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
				<span class="btn btn-success"></span>

				<span class="btn btn-info"></span>

				<span class="btn btn-warning"></span>

				<span class="btn btn-danger"></span>
			</div>
		</div><!-- #sidebar-shortcuts -->

		<ul class="nav nav-list">
			<li class="active">
				<a href="{{pathFor 'dashboard'}}">
					<i class="fa fa-dashboard"></i>
					<span class="menu-text"> Dashboard </span>
				</a>
			</li>

			<li>
				<a href="#" class="dropdown-toggle">
					<i class="fa fa-folder"></i>
					<span class="menu-text"> My Projects </span>

					<b class="arrow fa fa-angle-down"></b>
				</a>
				
				<ul class="submenu">
					{{#if isProjects}}
						{{#each projects}}
							{{> sidebarProject}}
						{{/each}}
					{{else}}
						<li class="noProjects">
							
							<span class="label label-danger">
								<i class="fa fa-exclamation-circle"></i> 
								No Projects
							</span>
						</li>
					{{/if}}
				</ul>

			</li>
			

			{{#if admin}}
			<li>
				<a href="{{pathFor 'userList'}}">
					<i class="fa fa-gavel"></i>
					<span class="menu-text"> Administration </span>
				</a>
			</li>
			<li>
				<a href="{{pathFor 'reports'}}">
					<i class="fa fa-tasks"></i>
					<span class="menu-text"> Reports </span>
				</a>
			</li>
			{{/if}}
			

		
	</div>

	{{> manageModal}}
		{{#if admin}}
			{{> createProjectModal}}
		{{/if}}
	{{/if}}

</template>