<template name="menu">
	<!-- User must be logged in to see this -->
	{{#if currentUser}}

	<div id="sidr" class="sidr left">
		<ul>
			{{#if notSuper}}
			<li>
				<a href="{{pathFor 'dashboard'}}">
Dashboard 
				</a>
			</li>

			<li>
				<a href="{{pathFor 'projectsList'}}">
Projects
				</a>

			</li>
			{{/if}}
			{{#if projectAdmin}}

			<li>
				<a href="{{pathFor 'projectsAdminList'}}">
					Manage Projects
				</a>
			</li>
			<li>
				<a href="{{pathFor 'manageFolders'}}">
					Manage Default Folders
				</a>
			</li>

			{{/if}}
			{{#if userAdmin}}
			
			<li>
				<a href="{{pathFor 'userList'}}">
					Manage Users
				</a>
			</li>
			{{#if projectAdmin}}
			<li>
				<a href="{{pathFor 'manageHR'}}">
					Manage H.R.
				</a>
			</li>
			<li>
				<a href="{{pathFor 'editHR'}}">
					Edit HR Fields
				</a>
			</li>
			{{/if}}
			{{/if}}
		</ul>
	</div>
	<a class="menu-toggler" id="simple-menu" href="#sidr">
		<span class="menu-text"></span>
	</a>

	<div class="sidebar" id="sidebar">
		<img src="/img/logo.jpg" class="concord-logo">

		<ul class="nav nav-list">
			{{#if notSuper}}
			<li>
				<a href="{{pathFor 'dashboard'}}">
					<i class="fa fa-dashboard"></i>
					<span class="menu-text"> Dashboard </span>
				</a>
			</li>

			<li>
				<a href="{{pathFor 'projectsList'}}">
					<i class="fa fa-folder"></i>
					<span class="menu-text"> Projects </span>
				</a>

			</li>
			{{/if}}

			{{#if projectAdmin}}
			<li>
				<a href="#" class="dropdown-toggle">
					<i class="fa fa-pencil-square-o"></i>
					<span class="menu-text"> Project Administration </span>
					<b class="arrow fa fa-chevron-down"></b>
				</a>
				<ul class="submenu">
					<li>
						<a href="{{pathFor 'projectsAdminList'}}">
							<i class="icon-double-angle-right"></i>
							Manage Projects
						</a>
					</li>
					<li>
						<a href="{{pathFor 'manageFolders'}}">
							<i class="icon-double-angle-right"></i>
							Manage Default Folders
						</a>
					</li>
				</ul>
				
			</li>
			{{/if}}
			{{#if userAdmin}}
			<li>
				<a href="#" class="dropdown-toggle">
					<i class="fa fa-gavel"></i>
					<span class="menu-text"> User Administration </span>
					<b class="arrow fa fa-chevron-down"></b>
				</a>
				<ul class="submenu">
					<li>
						<a href="{{pathFor 'userList'}}">
							<i class="icon-double-angle-right"></i>
							Manage Users
						</a>
					</li>
					{{#if projectAdmin}}
					<li>
						<a href="{{pathFor 'manageHR'}}">
							<i class="icon-double-angle-right"></i>
							Manage H.R.
						</a>
					</li>
					<li>
						<a href="{{pathFor 'editHR'}}">
							<i class="icon-double-angle-right"></i>
							Edit HR Fields
						</a>
					</li>
					{{/if}}
				</ul>
				
			</li>
			{{/if}}
		</ul>

	</div>
	{{/if}}

</template>