<template name="dashboardEntry">
	<div class="dashboard-item">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body dashboard-panel">
					<div class="row">

						<div class="projectBox col-xs-3">
							<h3><i class="fa fa-folder-open"></i></h3>

						</div>

						<div class="col-xs-8 profileData">
							<div class="row">
								<h6 class="toProfile"><a href="{{pathFor 'projectPage'}}">{{name}}</a></h6>
							</div>

							<div class ="row theAuthor">
								{{author}}
							</div>

							<div class="row theDate">
								Posted On {{convertedTime}}
							</div>

						</div>


					</div>
					<div class="postContent">
						{{description}}
					</div>


				</div>
				<div class="panel-footer">
					<div class="seeProject">
						<i class="fa fa-folder"></i>
						<a href="{{pathFor 'projectPage'}}">Go To Project</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>