<template name = "updateHRModal">
	<div class="modal fade" id="hrData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	  		<div class="modal-content">
	    		<div class="modal-header">
	      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      	    <h4 class="modal-title" id="myModalLabel">Update HR Data</h4>
	    		</div>
	    		<div class="modal-body">
	      			<div class="control-group">
	      				<div class = "row">
		      				<div class="label-area col-xs-6">
			                	<label id="email-hr-label">Email: </label> 
		                		<label id="hr-email" class="modal-text"></label> 
		            		</div>
	            		</div>
	            		<br>
	            		<div class = "row">
			            	<div class="label-area col-xs-12">
			                	<label id="sick-days-label">Sick Days: </label> 
		                		<input type="text" id="sick-days" class="modal-text"></input> 
		            		</div>
		            	</div>
		            	<br>
		            	<div class = "row">
		            		<div class="label-area col-xs-12">
		            			<label id="vacation-days-label">Vacation Days: </label>
		                		<input type="text"  id="vacation-days" class="modal-text"></input>
		            		</div>

		        		</div>
        			</div>

	    		</div>
	    		<div class="modal-footer">
		      		<button id="hr-update-btn" class="btn btn-success submitModal" data-dismiss="modal">Submit</button>
	      			<button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
	    		</div>
	  		</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>