<template name = "updateUserModal">
	<div class="modal fade" id="updateData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	  		<div class="modal-content">
	    		<div class="modal-header">
	      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      	    <h4 class="modal-title" id="myModalLabel">Update User</h4>
	    		</div>
	    		<div class="modal-body">
	    			<div class = "row">
	    				<div class="form-group">
			      			<div class="control-group">
				            	<div class="label-area col-xs-4">
				                	<label id="first-name-label" class="modalLabel"for="first-name">First Name: </label> 
			                		<textarea id="first-name" class="modal-text" name="first-name"></textarea> 
			            		</div>
			            		<div class="label-area col-xs-4">
			            			<label class="modalLabel" id="last-name-label" for="last-name">Last Name: </label>
			                		<textarea id="last-name" class="modal-text" name="last-name"></textarea>
			            		</div>
			        		</div>
		        	

			        		<div class="control-group col-xs-4">
				            	<label class="modalLabel control-label" for="user-group">User Group:</label>
				            	<div class = "controls">
			    	            	<select class="groupSelect pushSelectLeft" name="user-group" id ="user-group">
			        	            	<option value="Employee">Employee</option>
			            	        	<option value="Client">Client</option>
			                	    	<option value="Admin">Office Manager</option>
			                    		<option value="Sub-Trade">Sub-Trade</option>
			                		</select>
			            		</div>
		        			</div>
	        			</div>
        			</div>

        			<div class = "row">
        				<div class="last-worked col-xs-12">
        					<label class = "my-title">Last Project Worked On: </label>
        					<label id="last-worked-label"></label>
        				</div>
        			</div>
        			
        			<div class = "row">
        				<div class="last-logged col-xs-12">
							<label class = "my-title">Last Logged In:</label>
							<label id="last-logged-label"></label>
						</div>
					</div>


	    		</div>
	    		<div class="modal-footer">
		      		<button id="update-user" class="btn btn-success" data-dismiss="modal">Submit</button>
	      			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    		</div>
	  		</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>