<template name = "addFolderModal">
      <!-- Add Folder Modal -->
      <div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      <h4 class="modal-title" id="myModalLabel">Add Folder</h4>
	    </div>
	    
	    <div class="modal-body addFolder">
	      <div class="form-group">
		    <label for="addFolderName" class="modalLabel">Folder Name</label>
		    <div class="col-xs-12">
		        <input type="text" class="folderName" id="addFolderName" name="addFolderName" placeholder="Enter the Folder Name"/>
		    </div>
	      </div>
	    </div>
	    <div class="modal-footer">
	      <button id="submitNewFolder" class="btn btn-success submitModal" data-dismiss="modal">Submit</button>
	      <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
	    </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
</template>