.close-x {
	color: #ee5f5b;
	position: absolute;
	right: 5px;
	top: 2px;
}

.rightBtn {
	color: green;
	position: absolute;
	right: 5px;
	top: 2px;
}
#test{
	 color: black !important;
	font-family: sans-serif;
}