<template name = "defaultFolder">
	<tr id="row-{{_id}}">
		<td class="center">
			<label>
				<input type="checkbox" class="ace tableBox" id="tableBox-{{_id}}">
				<span class="lbl"></span>
			</label>
		</td>
		<td class="String Unique">{{name}}</td>
		
		{{#if isChecked 'Office Manager'}}
			<td class="Boolean"><i class="fa fa-check"></i></td>
		{{else}}
			<td class="Boolean"><i class="fa fa-ban"></i></td>
		{{/if}}

		{{#if isChecked "Employee"}}
			<td class="Boolean"><i class="fa fa-check"></i></td>
		{{else}}
			<td class="Boolean"><i class="fa fa-ban"></i></td>
		{{/if}}

		{{#if isChecked "Client"}}
			<td class="Boolean"><i class="fa fa-check"></i></td>
		{{else}}
			<td class="Boolean"><i class="fa fa-ban"></i></td>
		{{/if}}

		{{#if isChecked "Sub-Trade"}}
			<td class="Boolean"><i class="fa fa-check"></i></td>
		{{else}}
			<td class="Boolean"><i class="fa fa-ban"></i></td>
		{{/if}}	

		<td>
			<div class="btn-group">
				<button class="btn btn-xs btn-success confirmProject" title="Confirm Project Changes" disabled="true" id="confirmbutton-{{_id}}">
					<i class="fa fa-check bigger-120" id="i-{{_id}}"></i>
				</button>
				<button class="btn btn-xs btn-info editProject" title="Edit Folder" id="editbutton-{{_id}}">
					<i class="fa fa-pencil bigger-120" id="i-{{_id}}"></i>
				</button>
				<button class="btn btn-xs btn-danger deleteProject" id="deletebutton-{{_id}}" title="Delete Folder">
					<i class="fa fa-trash-o bigger-120" id="i-{{_id}}"></i>
				</button>

			</div>
		</td>
	</tr>
</template>