<template name = "defaultFolder">
	<tr id="row-{{_id}}">
		<td class="center">
			<label>
				<input type="checkbox" class="ace tableBox" id="tableBox-{{_id}}">
				<span class="lbl"></span>
			</label>
		</td>
		<td class="String">{{name}}</td>
		
		{{#if isChecked 'Office Manager'}}
			<td class="Boolean"><i class="fa fa-check"></i></td>
		{{else}}
			<td class="Boolean"><i class="fa fa-ban"></i></td>
		{{/if}}

		{{#if isChecked "Employee"}}
			<td class="Boolean"><i class="fa fa-check"></i></td>
		{{else}}
			<td class="Boolean"><i class="fa fa-ban"></i></td>
		{{/if}}

		{{#if isChecked "Client"}}
			<td class="Boolean"><i class="fa fa-check"></i></td>
		{{else}}
			<td class="Boolean"><i class="fa fa-ban"></i></td>
		{{/if}}

		{{#if isChecked "Sub-Trade"}}
			<td class="Boolean"><i class="fa fa-check"></i></td>
		{{else}}
			<td class="Boolean"><i class="fa fa-ban"></i></td>
		{{/if}}	

		<td>
			<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
				<button class="btn btn-xs btn-success confirmProject" title="Confirm Project Changes" disabled="true" id="confirmbutton-{{_id}}">
					<i class="fa fa-check bigger-120" id="i-{{_id}}"></i>
				</button>
				<button class="btn btn-xs btn-info editProject" title="Edit Project" id="editbutton-{{_id}}">
					<i class="fa fa-pencil bigger-120" id="i-{{_id}}"></i>
				</button>
				<button class="btn btn-xs btn-danger deleteProject" id="button-{{_id}}" title="Delete Project">
					<i class="fa fa-trash-o bigger-120" id="i-{{_id}}"></i>
				</button>

			</div>

			<div class="visible-xs visible-sm hidden-md hidden-lg">
				<div class="inline position-relative">
					<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
						<i class="icon-cog icon-only bigger-110"></i>
					</button>

					<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
						<li>
							<a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
								<span class="blue">
									<i class="icon-zoom-in bigger-120"></i>
								</span>
							</a>
						</li>

						<li>
							<a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
								<span class="green">
									<i class="icon-edit bigger-120"></i>
								</span>
							</a>
						</li>

						<li>
							<a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
								<span class="red">
									<i class="icon-trash bigger-120"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</td>
	</tr>
</template>