<template name = "manageFolders">
	
	<!-- Bread Crumbs -->

	{{> breadcrumbs}}


	<!-- Project Data -->
	<div class = "projects">
		<div class = "page-content">
			<div class="page-header">
				<h1>Manage Default Folders<small><i class="fa fa-angle-double-right"></i>Administration</small></h1>
			</div>
			
			<div class = "search-buffer">
				<div id="emp-search">
					<form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="search-field" autocomplete="off">
							<i class="fa fa-search icon-search nav-search-icon"></i>
						</span>
						<span class="pull-right redFont">
							<i class="fa fa-minus-circle" title="Remove Project" id="removeSelected"></i>
						</span>
						<span class="pull-right greenFont">
							<i class="fa fa-plus-circle" title="Add Project" id="addRow"></i>
						</span>
					</form>

				</div><!-- #nav-search -->
				
			</div>
			<div class="row">
				<div class = "projects col-xs-12">

					<div class="table-responsive">
						<table id="tableData" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="center">
										<label>
											<input type="checkbox" class="ace" id="selectAll">
											<span class="lbl"></span>
										</label>
									</th>
									<th>Folder Name</th>
									<th>Office Manager</th>
									<th class="hidden-480">Employee</th>
									<th class="hidden-480">Client</th>
									<th class="hidden-480">Sub-Trade</th>
									<th>Manage Folder Options</th>
								</tr>
							</thead>
							<tbody>
								{{#each folders}}
									{{> defaultFolder}}
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>