  #sortable1, #sortable2, #sortable3, #sortable4 { 
  	list-style-type: none; 
  	padding: 5px;
  	margin: auto; 
  	background: #eee;
  	width: 70%;
  	text-align: center;
  }

  #sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li {
   margin: auto;
   margin-top: 10px; 
   margin-bottom: 10px;
   padding: 5px; 
   font-size: 100%; 
   width: 90%; 
   min-height: 30px;
}

.title-center {
	text-align: center;
}

.list-title {
	font-size: 14px;
}
