<template name="projectsAdminList">

	<!-- Bread Crumbs -->

	{{> breadcrumbs}}


	<!-- Project Data -->
	<div class = "projects">
		<div class = "page-content">
			<div class="page-header">
				<h1>Manage Projects<small><i class="fa fa-angle-double-right"></i>Administration</small></h1>
			</div>
			<div class ="above-content">
				<a class="btn btn-primary emp-btn userBtn" href="{{pathFor 'userList'}}">
					<i class="fa fa-user"></i>  Manage Users</a>
				<a class="btn btn-success emp-btn userBtn" data-toggle="modal" data-target="#createData">
					<i class="fa fa-pencil-square-o"></i> Create New Project
				</a>
				<a class="btn btn-warning emp-btn userBtn" id = "userRoleBtn">
					<i class="fa fa-flag-o"></i> Manage Project Roles
				</a>
				<a class="btn btn-danger userBtn" id="delbtn">
					<i class="fa fa-times"></i> Delete Project
				</a>
			</div>
			
			<div class = "search-buffer">
				<div id="emp-search">
					<form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="search-proj-admin-field" autocomplete="off">
							<i class="fa fa-search icon-search nav-search-icon"></i>
						</span>
					</form>
				</div><!-- #nav-search -->
			</div>
				<div class="row">
					<div class = "projects col-xs-12">

						{{#each projectsWithRank}}
						{{> projectAdminItem}}
						{{/each}}

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="updateData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	  		<div class="modal-content">
	    		<div class="modal-header">
	      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      	    <h4 class="modal-title" id="myModalLabel">Update Project</h4>
	    		</div>
	    		<div class="modal-body">
	      			<div class="control-group">
	      				<div class = "row">
		      				<div class="label-area col-xs-6">
			                	<label id="update-title-label">Project Title: </label> 
		                		<textarea id="update-title" class="modal-text"></textarea> 
		            		</div>
	            		</div>
	            		<br>
	            		<div class = "row">
			            	<div class="label-area col-xs-12">
			                	<label id="update-description-label">Description: </label> 
		                		<textarea id="update-description" class="modal-text"></textarea> 
		            		</div>
		            	</div>
		            	</br>
		            	<div class = "row">
		            			<label id="update-submitted-label" class="label-area col-xs-4">Last Submission By: </label>
		                		<label id="update-submitted" class= "label-area col-xs-4 modal-text"></label>
		            	</div>
        			</div>

	    		</div>
	    		<div class="modal-footer">
		      		<button id="update-project" class="btn btn-success" data-dismiss="modal">Update Project</button>
	      			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    		</div>
	  		</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<div class="modal fade" id="deleteData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	  		<div class="modal-content">
	    		<div class="modal-header">
	      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      	    <h4 class="modal-title" id="myModalLabel">Delete Project</h4>
	    		</div>
	    		<div class="modal-body">
	      			<div class="control-group">
	      				<div class = "row">
		      				<div class="label-area col-xs-6">
			                	<label id="delete-title-label">Project Title: </label> 
		                		<label id="delete-title" class="modal-text"></label> 
		            		</div>
	            		</div>
	            		<br>
	            		<div class = "row">
			            	<div class="label-area col-xs-12">
			                	<label id="delete-description-label">Description: </label> 
		                		<label id="delete-description" class="modal-text"></label> 
		            		</div>
		            	</div>
		            	</br>
		            	<div class = "row">
		            			<label id="delete-submitted-label" class="label-area col-xs-4">Last Submission By: </label>
		                		<label id="delete-submitted" class= "label-area col-xs-4 modal-text"></label>
		            	</div>
        			</div>

	    		</div>
	    		<div class="modal-footer">
		      		<button id="delete-project" class="btn btn-danger" data-dismiss="modal">Delete Project</button>
	      			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    		</div>
	  		</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<div class="modal fade" id="createData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	  		<div class="modal-content">
	    		<div class="modal-header">
	      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      	    <h4 class="modal-title" id="myModalLabel">Create Project</h4>
	    		</div>
	    		<div class="modal-body">
	      			<div class="control-group">
	      				<div class = "row">
		      				<div class="label-area col-xs-6">
			                	<label id="create-title-label">Project Title: </label> 
		                		<textarea id="create-title" class="modal-text"></textarea> 
		            		</div>
	            		</div>
	            		<br>
	            		<div class = "row">
			            	<div class="label-area col-xs-12">
			                	<label id="create-description-label">Description: </label> 
		                		<textarea id="create-description" class="modal-text"></textarea> 
		            		</div>
		            	</div>
        			</div>

	    		</div>
	    		<div class="modal-footer">
		      		<button id="create-project" class="btn btn-success" data-dismiss="modal">Create Project</button>
	      			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    		</div>
	  		</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	</template>