#manage_project_role{
	margin-left:10px;
}

#client-search{
	margin-left:18px;
	margin-top:20px;
}

.surround-table {
	padding-top: 15px;
	margin: 0 auto !important;
	float: none !important;
	height:200px;
  	overflow:auto;  
  	background-color: white;
}

.nav-search-input {
	width: 200px;
	margin-bottom: 10px;
}
