<template name = "projectAdminItem">
	<div class="{{badgerData}} col-xs-12 col-sm-6 col-md-4 b-project-item" data-toggle="modal" data-target="{{dataToggle}}" data-badger="{{title}}">
		<span class = "my-title">Description: </span>{{description}}<br>
		<span class = "my-title">Submitted by: </span>{{authorName}} <br>
		<span class = "my-title">Last Updated: </span>{{convertedTime}}
		<a class="link" id = "test" title="first tooltip" rel="tooltip">Test</a>
		<i class="link fa fa-arrow-circle-o-right rightBtn fa-2x" id = "test" title="first tooltip" rel="tooltip"></i>
	</div>
</template>