<template name="projectsAdminList">

	<!-- Bread Crumbs -->

	{{> breadcrumbs}}


	<!-- Project Data -->
	<div class = "projects">
		<div class = "page-content">
			<div class="page-header">
				<h1>Manage Projects<small><i class="fa fa-angle-double-right"></i>Administration</small></h1>
			</div>
			<div class ="above-content">
				<div class="button-headers">
				<a class="btn btn-primary emp-btn userBtn" href="{{pathFor 'userList'}}">
					<i class="fa fa-user"></i>  Manage Users
				</a>
			</div>
				<a class="concord-button emp-btn conBtn" data-toggle="modal" data-target="#projectFolder">
					<i class="fa fa-tags"></i>  Manage Project Folders
				</a>
				<a class="concord-button emp-btn userBtn" id="newProjBtn" data-toggle="modal" data-target="#createData">
					<i class="fa fa-pencil-square-o"></i> Create New Project
				</a>
				<a class="concord-button emp-btn userBtn" id = "userRoleBtn">
					<i class="fa fa-flag-o"></i> Manage Project Roles
				</a>
				<a class="concord-button userBtn" id="delbtn">
					<i class="fa fa-times"></i> Delete Project
				</a>
			</div>
			
			<div class = "search-buffer">
				<div id="emp-search">
					<form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="search-field" autocomplete="off">
							<i class="fa fa-search icon-search nav-search-icon"></i>
						</span>
					</form>
				</div><!-- #nav-search -->
			</div>
				<div class="row">
					<div class = "projects col-xs-12">

						{{#each projectsWithRank}}
							{{> projectAdminItem}}
						{{/each}}

					</div>
				</div>
			</div>
		</div>

	{{> updateProjectModal}}
	{{> createProjectModal}}
</template>