<template name="projectAdminPage">
	{{> breadcrumbs}}

	<div class="page-header">
		<h1>Manage Project<small><i class="fa fa-angle-double-right"></i>Administration</small></h1>
	</div>
	
	<div id="manage_project_role">

		<div id="employee-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="search-field" autocomplete="off">
					<i class="fa fa-search icon-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- #nav-search -->
		<div class="surround-table col-xs-8">
			<table class="table table-striped">
				<thead>
					<td>Concloud Staff Name</td>
					<td>Project Employee</td>
				</thead>
				<tbody>
					{{#each employees}}
						<tr id="emp-row-{{_id}}">
							<td>{{profile.lastName}}, {{profile.firstName}}</td>
							{{#if projectEmployee}}
								<td><input type="checkbox" checked="true" class="emp-click" id="{{_id}}"></td>
							{{else}}
								<td><input type="checkbox" class="emp-click" id="{{_id}}"></td>
							{{/if}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class = "row">
			<div id="client-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="Search ..." class="nav-search-input" id="search-client-field" autocomplete="off">
						<i class="fa fa-search icon-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- #nav-search -->
		</div>

		<div class="surround-table col-xs-8">
			<table class="table table-striped">
				<thead>
					<td>Concloud Clients</td>
					<td>Project Client</td>
				</thead>
				<tbody>
					{{#each clients}}
						<tr id="client-row-{{_id}}">
							<td>{{profile.lastName}}, {{profile.firstName}}</td>
							{{#if projectClient}}
								<td><input type="checkbox" checked="true" class="client-click" id="{{_id}}"></td>
							{{else}}
								<td><input type="checkbox" class="client-click" id="{{_id}}"></td>
							{{/if}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

	</div>

</template>