  #chosen-emps, #chosen-clients, #available-emps, #available-clients { 
  	list-style-type: none; 
  	padding: 5px;
    padding-top:10px;
    padding-bottom:10px;
  	margin: auto; 
  	background: #fff;
  	width: 70%;
  }

    #chosen-emps:hover, #chosen-clients:hover, #available-emps:hover, #available-clients:hover { 
      cursor: pointer;
  }

  #chosen-emps li, #chosen-clients li, #available-emps li, #available-clients li {
   margin: auto;
   font-size: 100%;
   min-height: 30px;
}

.title-center {
	text-align: center;
}

.list-title {
	font-size: 14px;
}

.sortable-table {
  margin-top: 10px;
  margin-bottom: 10px;
}
