  #chosen-emps, #chosen-clients, #available-emps, #available-clients { 
  	list-style-type: none; 
  	padding: 5px;
  	margin: auto; 
  	background: #eee;
  	width: 70%;
  	text-align: center;
  }

    #chosen-emps:hover, #chosen-clients:hover, #available-emps:hover, #available-clients:hover { 
      cursor: pointer;
  }

  #chosen-emps li, #chosen-clients li, #available-emps li, #available-clients li {
   margin: auto;
   margin-top: 10px; 
   margin-bottom: 10px;
   padding: 5px; 
   font-size: 100%; 
   width: 90%; 
   min-height: 30px;
}

.title-center {
	text-align: center;
}

.list-title {
	font-size: 14px;
}
